.carousel-item .image {
    border: 2px solid rgb(0, 0, 0);
    width: auto;
    height: 700px;
}

@media only screen and (max-width: 800px) {
    .carousel {
        height: 375px;

    }

    .carousel-item .image {
        width: auto;
        height: 400px;
    }

}

body {
    color: white;
}

.image {
    object-fit: cover;
    object-position: center;
}

button {
    width: 100px;
}

.profile-image {
    width: 10px;
    height: 70px;
    border-radius: 25%;
    object-fit: fill;
}

.profile {
    border: 3px;
    border-color: white;
    border-width: 3px;
    margin: none;
    padding: none;
    margin-top: 18px;
}