@media only screen and (max-width: 1000px) {
    .carousel {
        height: 675px;

    }
}
    @media only screen and (max-width: 500px) {
        .carousel {
            height: 675px;
    
        }

}
.carousel-inner{
}

.carousel-item .image {
    border: 2px solid rgb(0, 0, 0);
    width: auto;
    height: 700px;

}

body {
    color: white;
}

.image {
    object-fit: cover;
    object-position: center;
}

button {
    width: 100px;
}

.profile-image {
    width: 45px;
    height: 55px;
    border-radius: 25%;
    object-fit: cover;
    object-position: center;

}

.profile {
    border: 3px;
    border-color: white;
    border-width: 3px;
}
